footer{
  background-color: aliceblue;
}

.learn-more{
  display: none;
   padding:10px;
   text-align: center;
   background-color: white;
}

@media (max-width:768px){
  .learn-more{
    display: block;
  }
  .learn{
    display: none;
  }
}